.big_content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    min-height: 100vh;
    width: 100%;
}

.accnt_container {
    display: flex;
    flex-direction: row;

    align-items:self-start;
    justify-content: center;

    height: 750px;
    width: 1200px;

    background-color: var(--thirdy-color);

    gap: 40px;

    border-radius: 30px;
}


.data_container {
    display: flex;
    flex-direction: column;

    flex:1;
    max-width: 350px;

    align-items: center;
    justify-content: center;

    font-size: var(--primary-font-size);

    gap:10px;

    margin-top: 100px;
    
}


.data_container input {
    height: 55px;
    width: 280px;
    border-color: rgb(0, 119, 255);
    border-radius: 20px;
    border-style: 1px;
    font-weight: bolder;
    font-size: large;
}

.data_container button {
    background-color: var(--button-pry-login-color);
    color: white;
    border: none;
    height:70px;
    width: 300px;
    font-size: 19px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 20px;

    margin-top: 10px;
}

.data_container #edit-button {
    background-color: var(--button-thrd-color);
}

.data_container #delete-button {
    background-color: var(--msg-alert-color);
}


.data_container button:hover {
    transform: scale(1.06);
}



h1 {
    width: 90%;
    max-width: 1200px;    
    margin: 20px auto 0; 
    text-align: left; 

    color: rgb(0, 119, 255);
    font-size: 60px;
}

h3 {
    color: rgb(0, 119, 255);
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: var(--second-font-size);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


