:root {
    --primary-color: #858585;
    --secondary-color: #d4d4d4;
    --thirdy-color:#ffff;
    --forfh-color:#00000000;

    --button-pry-login-color: rgb(0, 119, 255);
    --button-sncd-login-color: rgb(0, 119, 255);
    --button-thr-login-color:rgb(164, 195, 233);
    --shadow-box-color: rgba(14, 36, 236, 0.211);
    --button-thrd-color: #0a036c;

    --msg-alert-color: #ff0000;

    --primary-font-fmly: Arial;
    

    --primary-font-size: 17px;
    --second-font-size:25px;
    --input-font-size:22px;
    --title-font-size:70px;
    --title-snd-font-size:40px;
    --title-thrd-font-size:28px;
    --title-forfh-font-size:35px;
}

body {
    background-color: var(--primary-color);
    font-family: var(--primary-font-fmly);

    margin: 0;
}

button {

    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;

}


