:root {
    --primary-color: #858585;
    --secondary-color: #d4d4d4;
    --thirdy-color:#ffff;

    --button-pry-login-color: rgb(0, 119, 255);
    --button-sncd-login-color: rgb(0, 119, 255);

    --msg-alert-color: #ff0000;

    --primary-font-fmly: Arial;
    

    --primary-font-size: 17px;
    --input-font-size:22px;
}

body {
    background-color: var(--primary-color);
    font-family: var(--primary-font-fmly);

    margin: 0;
}



