
.return_reg {
    height:80px;
    width: 200px;


    font-size: var(--input-font-size);

    border-radius: 15px;
    border-style: none;

    background-color: var(--button-pry-login-color);
    color:var(--secondary-color);

    margin-left: 50px;

    transition: transform 0.3s ease;
}

.reg_header {
    display:flex;
    flex-direction: row;

    width: 100vw;   

    align-items: center;
    justify-content: flex-start;

    background-color: var(--secondary-color );

    gap: 15px;
}

 #add_reg {
    height: 80px;
    width: 200px;

    font-size: var(--input-font-size);

    border-radius: 15px;
    border-style: none;

    background-color: var(--button-pry-login-color);
    color: var(--secondary-color);

    transition: transform 0.3s ease;


    margin-left:50px;
}

.return_reg:hover {

    transform: scale(1.08);

}

#add_reg:hover {

    transform: scale(1.08);
}

 a {
    text-decoration: none;
}


.reg_form {
    display: flex;
    display: none;

    flex-direction: column;

    width: 630px;

    margin: 50px;

    background-color: var(--thirdy-color);

    padding: 30px;

    border-radius: 15px;
}

.reg_form.visivel {
    display: block;
}


.reg_form input {
    height: 50px;
    width:600px;

    border-radius: 5px;
    border-style: none;

    font-size: var(--input-font-size);

    background-color: var(--secondary-color);

}

.reg_button {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.reg_button button {
    height: 55px;
    width: 300px;

    border-radius: 10px;

    margin-top:25px;

    font-size: var(--input-font-size);
    border-style: none;

    background-color: var(--button-pry-login-color);
    color:var(--secondary-color);

    transition: transform 0.3s ease;

}

#cancel_button {
    background-color: var(--msg-alert-color);
}

.reg_button button:hover {
    transform: scale(1.07);
}

.resp_salvo {
    display: flex;
    flex-direction: row;

    align-items: center;

    height:70px;
    width: 550px;

    justify-content: flex-start;

    background-color: var(--secondary-color);
    border-radius: 15px;

    margin-top:30px;
    margin-left: 30px;

    transition: transform 0.3s ease;

    box-shadow: 5px 5px 0px var(--shadow-box-color);
}

.resp_salvo p {
    margin-left: 20px;
}

.resp_salvo button {
    height: 35px; 
    width: 90px;
    
    border-radius: 10px;
    border-style: none;

    font-size: var(--primary-font-size);
    background-color: var(--button-pry-login-color);
    color: var(--thirdy-color);

    margin-left: auto;
    margin-right: 20px;

    transition: transform 0.3s ease;
}

.resp_salvo:hover {

    transform: scale(1.03);

}

.resp_salvo button:hover {
    transform: scale(1.08)translateY(0);
}

.det_resp {
    display: flex;
    display: none;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    height: 670px;
    width: 380px;

    margin-left: 30px;
    margin-top:50px;
    margin-bottom:50px;
    padding-top:30px;


    background-color: var(--secondary-color);
    border-radius: 15px;
    border-style: none;
}

.det_resp.visivel {
    display: block;
}

.det_resp input {
    margin:0;
    height:30px;
    width: 300px;
    margin-left: 30px;
    margin-top: 5px;
}

.det_resp i {
    color:black;
    margin-left:5px;
}


.det_resp h3 {
    margin: 0;
    margin-top:15px;
    margin-left: 20px;
}

.det_resp button {
    margin: 0;
    margin-left:50px;
    margin-top: 20px;

    height: 40px;
    width: 100px;

    background-color: var(--button-pry-login-color);
    border-radius: 10px;
    border-style: none;
    color: var(--thirdy-color);

    transition: transform 0.3s ease;
}

.det_resp button:hover {
    transform: scale(1.08);
}