a {
    text-decoration: none;

    font-family: var(--primary-font-fmly);

    font-size: var(--primary-font-size);

    color:var(--button-pry-login-color);
}

#topo {
    background-color: rgb(0, 119, 255);
    margin: 0px;
    
}

#topo h1 {
    color: white;
    font-size: 30px;
    text-align: center;
}

body{
    margin: 0px;
}