body {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.dash_head {
    display: flex;

    flex-direction: row;
    
    align-items: center;

    justify-content: flex-start;

    height:125px;
    width: 100%;

    background-color: aliceblue;
    color:var(--button-pry-login-color);
}

.dash_head h1 {
    font-size: var(--title-font-size);
    
    margin-left:50px;
}

.dash_head a {
    display: flex;
    flex-direction: row;
    margin-left: 1200px;

    text-decoration: none;

    color:var(--button-pry-login-color);

    transition: transform 0.3s ease;

}

.dash_head a:hover {

    transform: scale(1.3);
}

.dash_main {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, max-content));
    gap: 10px;
    width: 100%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.dash_main nav {
    display: contents;
}

.dash_main a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 30px;
    text-decoration: none;
} 
    
    


.dash_bemvindo {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
    width: 100%;
   
}

.dash_bemvindo h2 {
    text-align: left;
    margin: 0;
}