body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #7a7a7a6c;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #062345;
  color: rgb(255, 255, 255);
  padding: 10px;
  
}

.icons span {
  margin-left: 10px;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.users {
  flex: 1;
  color: white;
  background:  #062345;
  padding: 15px;
  border-radius: 15px;
}

.user-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.card {
  background: #dddddd;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  color: black;
}

.card:hover {
  background: #ccc;
}

.card.add {
  color: black;
}

.card.active {
  color: black;
}

.log {
  flex: 1;
  color: white;
  background:  #062345;
  padding: 15px;
  border-radius: 15px;
}

#logContent {
  height: 200px;
  overflow-y: auto;
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}