

h1 {
    font-size: var(--title-font-size);
    color: var(--button-pry-login-color);

    margin-left: 50px;

}

h2 {
    font-size: var(--title-fifth-font-size);
    color:var(--button-pry-login-color);

    margin-left: 30px;
    margin-top:50px;
}

h3 {
    font-size: var(--title-forfh-font-size);
    color: var(--fifh-color);
    margin-left:30px;
    margin-bottom: 15px;
    margin-top:30px;
}

#title_ppl {
    color:var(--button-pry-login-color);
}

i {
    color: black;
}

#text_question {
    font-size: var(--title-thrd-font-size);
    
}

.btn_ys {
    background-color: var(--nn-button-color);
    transition: background-color 0.3s ease;
}

.btn_ys.ativo {
    background-color:var(--button-pry-login-color);
}

input {
    height: 50px;
    width: 600px;

    margin-left: 30px;

    font-size: var(--input-font-size);
    border-radius: 5px;
    border-style: none;
    background-color: var(--secondary-color);
}

.main_body {

    display: flex;
    flex-direction: column;

    align-items: center;

    height:100vh;
    width: 100%;

}

.form_box {

    display:flex;
    flex-direction: row;

    height:1200px;
    width: 1400px;
    background-color: var(--thirdy-color);

    margin-left:50px;
    margin-top:50px;

    border-radius: 25px;
}

.sub_form_box {
    display: flex;
    flex-direction: column;

    margin-top:20px;
    margin-bottom: 30px;
}

#second_sub_form_box {
    margin-top:30px;

    border-left: 4px solid var(--button-pry-login-color);
}

.cont_button {
    display: flex;
    flex-direction: row;

    margin-left: 30px;
    margin-top:10px;

    gap:30px;
}

.cont_button button{
    height: 40px;
    width: 100px;

    border-radius: 10px;
    border-style: none;
    
    font-size: var(--input-font-size);
    color: var(--thirdy-color);

    transition: transform 0.3s ease;
}

.cont_button button:hover {
    transform: scale(1.08);
}

#save_form {

    height: 60px;
    width: 150px;

    align-self:flex-end;

    margin-right: 100px;
    margin-top: 40px;

    border-radius: 15px;
    border-style: none;

    background-color: var(--button-pry-login-color);
    color:var(--thirdy-color);

    font-size: var(--input-font-size);

    transition: all 0.3s ease;
}

#save_form:hover {
    transform: scale(1.08);
}

.form_salvo {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    height:85px;
    width: 550px;


    background-color: var(--secondary-color);
    border-radius: 15px;

    margin-top:40px;

    transition: all 0.3s ease;

    box-shadow: 5px 5px 0px var(--shadow-box-color);
}

.form_salvo p {
    margin-left: 20px;
}

.form_salvo button {
    height: 45px; 
    width: 100px;
    
    border-radius: 10px;
    border-style: none;

    margin-right: 20px;

    font-size: var(--input-font-size);
    background-color: var(--button-pry-login-color);
    color: var(--thirdy-color);


    transition: all 0.3s ease;
}

.form_salvo:hover {

    transform: scale(1.03);
    box-shadow: 10px 10px 0px var(--button-forfh-login-color);

}

.form_salvo button:hover {
    transform: scale(1.05)translateY(0);
    background-color: var(--button-forfh-login-color);
}
