h1 {
    font-size: var(--title-fifth-font-size);
    color: var(--thirdy-color);
    margin: 0;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

h1 i {
    color: var(--thirdy-color);
}

h2 {
    font-size: var(--title-forfh-font-size);
    color: var(--button-pry-login-color);
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 600;
}

h3 {
    font-size: var(--input-font-size);
    color: var(--fifh-color);
    margin-top: 20px;
    margin-bottom: 6px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

i {
    color: var(--thirdy-color);
}

p {
    font-size: var(--primary-font-size);
    margin-left: 0;
}