.big_content {
    display: flex;
    flex-direction: row;


    align-items: center;
    justify-content: center;

    height:100vh;
    width: 100%;

    background-color: none;
}


.main_content {
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    justify-content: center;

    height: 630px;
    width: 1200px;

    background-color: var(--thirdy-color);

    border-radius: 25px;
    border-style: none;

    gap:70px;
}

.detail_content {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    margin-top:25px;
    margin-left:20px;
}

#second_detail_content {
    margin-top: 123px;
    margin-top: 25px;
}


input {
    height: 55px;
    width: 320px;

    font-size: var(--input-font-size);

    margin-top:5px;

    border-radius: 15px;
    border-color: var(--button-pry-login-color);
}

button {
    height:70px;
    width: 300px;

    margin-top:30px;
    margin-right: 10px;

    border-radius: 20px;
    border-style: none;

    font-size: var(--input-font-size);
    color:var(--thirdy-color);
    background-color: var(--button-pry-login-color);

    transition: all 0.3s ease;
}

#edit_button {
    background-color: var(--button-thrd-color);
}


button:hover {
    transform:scale(1.06);
}
h1 {
    font-size: var(--title-snd-font-size);
    color:var(--button-pry-login-color);
}

h3 {
    font-size: var(--second-font-size);
    color:var(--button-pry-login-color)
}