h1 {
    font-size: var(--title-font-size);
    color: var(--button-pry-login-color);

    margin-left: 50px;

}

h2 {
    font-size:var(--title-snd-font-size);
    color: var(--button-pry-login-color);
}

h3 {
    font-size:var(--title-thrd-font-size);
    color: var(--button-pry-login-color);
}

p {
    font-size: var(--input-font-size);
    margin-left:210px;
}

i {
    color: black;
}