.big_content {
    display: flex;
    flex-direction: row;


    align-items: center;
    justify-content: center;

    background-color: none;

}


.main_content {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    height: 650px;
    width: 1300px;

    margin-top:150px;

    background-color: var(--thirdy-color);

    border-radius: 5px;
    border-style: none;

}

.header_content {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 120px;
    width: 100%;


    background-color: var(--sixth-color);
    font-size: var(--second-font-size);
}

.sub_big_content {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    margin-top: 30px;
}

#title {
    margin-left: 30px;
}

.pacient_dt {
    display: flex;
    flex-direction: row;

    align-items:center;
    justify-content: flex-start;

    gap:30px;
}